<h2 class="home"> Welcome to the gambling site </h2>

<p class="home"><a href="/logon" class="homeanchor">logon</a> to gamble <br>
<a href="/signup" class="homeanchor">signup</a> to create an account </p>

