<form method='post'>
    <div class="container">
        <label style="padding-right:30px" for="uname"><b>User</b></label>
        <input type="text" name="uname" required><br>

        <label for="psw"><b>Password</b></label>
        <input type="text" name="psw" required><br>

        <div class="login"><button type="submit">Signup</button> </div>
    </div>

    
</form>

<%if @user_name_existed%>
<p style="color:red"> User name already existed, please change another one </p>
<%end%>